/* Table of Content
==================================================
	#Site Styles
		/* common
		/* content segments
		/*page home
			/* home
		/* columns and margins
		/*page portfolio
		/*page services
		/*page about
		/*page news
		/*page single post
		/*page skills
		/*page pricing
		/*page contact
		/* buttons
		/* footer
/* #Site Styles
================================================== */
/* common
================================================== */
body
{
	font: 14px/1.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #8a8f97;
}
h1
{
	text-align: center;
	font: 90px/1.3em Prata, Helvetica, Arial, sans-serif; 
	letter-spacing: -0.05em;
}
h2 {
	font: 20px/1.75em "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}
h3
{
	font: bold 18px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.02em;
	color: #27303c;
	word-wrap: break-word;
}
p{ margin-bottom:20px; }
a,
a:visited, 
a:active
{
    text-decoration: none;
	color: #8a8f97;
    border: none;
    outline: none;
}
a:hover 
{
    text-decoration: none;
	color: #be2844;
    border: none;
    outline: none;
}
.doc-loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;	
}
.doc-loader td 
{   
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}
/* content segments
================================================== */

.content_segment
{
	position: relative;
	background: transparent url('../images/dot.png') repeat-x;
	background-position: center;
	font-size: 12px;
	line-height: 35px;
	letter-spacing: 0.30em;
	color: #3F1C99;
}
.bg_segment
{
	padding-right: 15px;
	background-color: #FFF;
	text-transform:uppercase;
}
.last_segment
{
	height: 1px;
}
/*  page home
================================================== */
	/* home
	================================================== */
.home
{
	width: 100%;

	color: #3F1C99;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page_home.top_background
{
	background-image: url('../images/top_bg_img/bg_home.jpg');
}
.page_services.top_background
{
	background-image: url('../images/top_bg_img/bg_services.jpg');	
}
.page_about.top_background
{
	background-image: url('../images/top_bg_img/bg_about.jpg');	
}
.page_news.top_background
{
	background-image: url('../images/top_bg_img/bg_news.jpg');	
}
.page_post.top_background
{
	background-image: url('../images/top_bg_img/bg_post.jpg');	
}
.page_portfolio.top_background
{
	background-image: url('../images/top_bg_img/bg_portfolio.jpg');	
}
.page_contact.top_background
{
	background-image: url('../images/top_bg_img/bg_contact.jpg');	
}
.page_skills.top_background
{
	background-image: url('../images/top_bg_img/bg_skills.jpg');	
}
.page_pricing.top_background
{
	background-image: url('../images/top_bg_img/bg_pricing.jpg');	
}
.container .logo
{
	padding-top: 40px;
	margin-bottom: 27px;
}
.summary_subheading
{
	word-wrap: break-word;
	margin-bottom: 15px;
}
	/* home
	================================================== */
.menu_wrapper
{
	width: 88%;
	margin: 0 auto;
}	
#main_menu nav ul
{
	position: relative;
	padding-left: 2%;
	border-bottom: 1px solid #3F1C99;
}
#main_menu nav ul:after
{ 
	content: "\0020"; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
#main_menu nav ul#nav_menu li
{
	cursor: pointer;
	display: block;
	float: left;
	margin-right: 19px;
}
#main_menu nav ul#nav_menu li a
{
	display: block;
	padding: 10px 3px 10px;
	font: 15px/1.27em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.25em;
	color: #3F1C99;
	z-index: 2;
}
#main_menu nav ul#nav_menu li.blob
{
	border-bottom: 1px solid #fff;
	bottom: -1px;
	height: 1px;
	padding-bottom: 0;
	position: absolute;
	z-index: 1;
}
	/* small menu
	================================================== */
.small-menu-wrapper
{
	width: 420px;
	margin: 0 auto;
}
.small-menu
{
	width: 100%;
	height: 45px;
	padding: 12px;
	text-align: center;
	letter-spacing: 0.2em;
	border: 0;
	outline: none;	
}
.header
{
	margin-top: 50px;
}
.summary
{
	text-align: center;
	padding-top: 10px !important;
	padding-bottom: 0px;
}
/* columns and margins
================================================== */
.m_left_35
{
	margin-left: 35px;
}
.m_right_40
{
	margin-right: 40px;
}
.m_top_5
{
	margin-top: 5px;
}
.m_top_10
{
	margin-top: 10px;
}
.m_top_15
{
	margin-top: 15px;
}
.m_top_20
{
	margin-top: 20px;
}
.m_top_25
{
	margin-top: 25px;
}
.m_top_30
{
	margin-top: 30px;
}
.m_top_35
{
	margin-top: 35px;
}
.m_top_40
{
	margin-top: 40px;
}
.m_top_55
{
	margin-top: 55px;
}
.m_top_65
{
	margin-top: 65px;
}
.m_top_105
{
	margin-top: 105px;
}
.m_top_115
{
	margin-top: 115px;
}
.m_bottom_0
{
	margin-bottom: 0px;
}
.m_bottom_5
{
	margin-bottom: 5px;
}
.m_bottom_10
{
	margin-bottom: 10px;
}
.m_bottom_15
{
	margin-bottom: 15px;
}
.m_bottom_20
{
	margin-bottom: 20px;
}
.m_bottom_30
{
	margin-bottom: 30px;
}
.m_bottom_45
{
	margin-bottom: 45px;
}
.m_bottom_55
{
	margin-bottom: 55px;
}
.m_bottom_60
{
	margin-bottom: 60px;
}
.m_bottom_70
{
	margin-bottom: 70px;
}
.m_bottom_75
{
	margin-bottom: 75px;
}
.m_bottom_80
{
	margin-bottom: 80px;
}
.m_bottom_105
{
	margin-bottom: 105px;
}
.m_bottom_115
{
	margin-bottom: 115px;
}
.m_bottom_125
{
	margin-bottom: 125px;
}
.m_bottom_130
{
	margin-bottom: 130px;
}
.m_bottom_150
{
	margin-bottom: 150px;
}
.m_bottom_170
{
	margin-bottom: 170px;
}	
.m_bottom_185
{
	margin-bottom: 185px;
}
.width-25
{
	width: 25%;
}
.width-50
{
	width: 50%;
}
.width-75
{
	width: 75%;
}
.width-85
{
	width: 85%;
}
.width-100
{
	width: 100%;
}

.spacing-10{ width:100%; height:10px; }
.spacing-20{ width:100%; height:20px; }
.spacing-30{ width:100%; height:30px; }
.spacing-40{ width:100%; height:40px; }
.spacing-50{ width:100%; height:50px; }
.spacing-60{ width:100%; height:60px; }
.spacing-70{ width:100%; height:70px; }
.spacing-80{ width:100%; height:80px; }
.spacing-90{ width:100%; height:90px; }
.spacing-100{ width:100%; height:100px; }

/* page home
================================================== */
	/* services home
	================================================== */

.small_icon_left
{
	background: transparent url(../images/power.png) no-repeat;
}
.small_icon_middle
{
	background: transparent url(../images/arrows.png) no-repeat;
}
.small_icon_right
{
	background: transparent url(../images/cloud.png) no-repeat;
}
/* words of wisdom
================================================== */
.wisdoms_slider
{
	float: left;
	width: 64.9%;
	margin-right: 50px;
	margin-bottom: 55px;
}
a#wisdoms_next
{
	overflow: hidden;
}
	/* latest work
	================================================== */
div.latest_work_image_slider_holder
{
	margin-left: 0;
	width: auto;
	position: relative;
}
.latest_work_item_text
{
	position: absolute;
	display: block;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 4px;
}
ul#latest_work_image_slider li
{
	font-size: 0;
	line-height: 0;
}
a#latest_work_prev
{
	position: absolute;
	top: 40%;
	left: 20px;	
}
a#latest_work_next
{
	position: absolute;
	top: 40%;
	right: 20px;	
}
.latest_work_item_text
{
	color: #ffffff;
}
	/* subscribe
	================================================== */
#subscribe
{
    display: none;
}
.subscribe
{
	margin-top: 15px;
    background-repeat: no-repeat;
}
#subscriberEmail
{
	float: left;
	width: 470px;
	height: 55px;
	padding-top: 0px;
	padding-bottom: 0px;
	font: 14px/1.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	text-indent: 23px;
    color: #8a8f97;
	border: 1px solid #b5b8bd;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	outline: none;
}
#subscribeButton
{
	position: relative;
	float: left;
	display: inline-block;
	margin-left: 10px;
	width: 105px;
	height: 100%;
	text-align: center;
	background-color: #be2844;
	font-size: 18px;
	letter-spacing: -0.03em;
	text-decoration: none;
	color: #fff;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	cursor: pointer;
	line-height: 55px;
	vertical-align: middle;	
}
#subscribeButton:hover
{
    text-decoration: none;
	background-color: #b9b9b9;
}
#display
{
	width: 25%;
	margin-bottom: 100px;
	padding-left: 35%;
	height: 30px;
}
/* page portfolio
================================================== */
ul#filterOptions 
{
	margin-bottom: 35px;
	text-align: center;
}
ul#filterOptions li 
{
	text-transform:uppercase;
	display: inline-block;
	margin-top: 20px;  
}
ul#filterOptions li a 
{
	display: block;
	margin-right: 25px;
	height: 20px;
	font: 12px/1.17em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.25em;
	font-weight: bold;
	color: #27303c;
	text-decoration: none;
}
ul#filterOptions li.last a 
{
	margin-right: 0px;
}
ul#filterOptions li a:hover 
{  
}
ul#filterOptions li.active a,
ul#filterOptions li.current-menu-item a
{
	border-bottom: 5px solid #be2844; 
}
ul.gallery
{
	height: auto;
}
ul.gallery li.item 
{
	position: relative;
	float: left; 
	width: 30.85%;
	height: 220px;
	margin-right: 3.72%;
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.03em;
	font-weight: 400;
	text-align: left; 
	color: #f6f6f6;
	overflow: hidden; 
}
	/* portfolio thumbnail hover
	================================================== */
.item-overlay 
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 11px;
	background-color: #be2844;
    z-index: 120;
}
.item-overlay .preview 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 6%;
	right: 7%;
	background: url(../images/view_button.png) center center no-repeat;
    z-index: 110;
}
.item-overlay .preview_video 
{
	position: absolute;
	width: 25px;
	height: 25px;
	bottom: 7%;
	right: 4%;
	background: url(../images/play_button.png) center center no-repeat;
	text-indent: -9999px;
    z-index: 110;
}
.item-overlay-text
{
	position: relative;
	text-align: center;
	top: 50%;
}
.item-overlay-text a
{
	font: 14px/1.43em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.25em;
	color: #fff;
	cursor: pointer;
}
/*  page services
================================================== */
.summary_services
{
	margin-top: 10px;
	margin-bottom: 15px;
}
.map_img
{
	height: 305px;
	background: transparent url(../images/img_map.png) no-repeat;
	background-size: cover;
	text-align: center;
}
.clients
{
	padding-top: 50px;
	margin-left: 18%;
}
.clients_number
{
	width: 41%;
	height: 65px;
	position: relative;
	margin-left: 21%;
	font-size: 72px;
	font-weight: bold;
	line-height: 90px;
	background-color: #80d9e6;
	color: #FFF;
	letter-spacing: -0.03em;
	-moz-border-top-left-radius: 5px; /* Firefox */
	-moz-border-top-right-radius: 5px; /* Firefox */
	-webkit-border-top-left-radius: 5px; /* Safari, Chrome */
	-webkit-border-top-right-radius: 5px; /* Safari, Chrome */ 
	border-top-left-radius: 5px; /* CSS3 */
	border-top-right-radius: 5px; /* CSS3 */
	border: none;
	opacity: 0.8;
	z-index: 3;
}
.globe
{
	width: 81%;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	line-height: 60px;
	background-color: #80d9e6;
	color: #FFF;
	letter-spacing: -0.03em;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	opacity: 0.8;
	z-index: 2;
}
.services_small_icon_left
{
	margin-top: 80px;
	background: transparent url(../images/title_icon_1.png) scroll 0 3px no-repeat;
}
.services_small_icon_middle
{
	margin-top: 80px;
	background: transparent url(../images/title_icon_2.png) scroll 0 3px no-repeat;
}
.list_of_services
{
	margin-top: 80px;
}
ul.services_list
{
	padding-left: 15px;
}
ul.services_list li
{
	list-style: disc;
}
.summary_description
{
	margin-bottom: 15px;
	font: bold 24px/1.46em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #27303c;
}
.summary_details_info
{
	padding-top: 15px;
	font: 30px/1.4em "Prata", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #27303c;
}
/*  page about
================================================== */
	/* circle hover
	==================================================*/
ul.ch-grid
{
	margin-top: 75px;
	margin-bottom: 5px;
}
.ch-item
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.ch-info
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-img-1
{ 
	background-image: url(../images/circle_hover/team_image_01.jpg);
}

.ch-img-2
{ 
	background-image: url(../images/circle_hover/team_image_02.jpg);
}

.ch-img-3
{ 
	background-image: url(../images/circle_hover/team_image_03.jpg);
}

.ch-info h3
{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0;
	font-size: 19px;
	line-height: 20px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 65px;
	
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p
{
	color: #fff;
	padding: 15px 5px 0 5px;
	margin: 0 30px;
	font-size: 15px;
	line-height: 15px;
	border-top: 1px solid #FFF;
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 140px rgba(37,35,54, 0.5),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
		/*  our team
        ================================================== */
.team_member_position
{
	padding-top: 25px;
	font: bold 24px/1.46em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	text-align: center;
	color: #27303c;
}
.socio
{
	margin-top: 25px;
	margin-bottom: 25px;
}
.socio ul
{
	margin: 0 auto;
	width: 119px;
	line-height: normal;
}
.socio ul li
{
	float: left;
	margin-right: 10px;
}
.socio ul li a
{	
    display: block;
    height: 33px;
    width: 33px;
}
.socio ul li a:active
{
    background-position: left bottom;
}
.socio ul li a:hover 
{
	 background-position: left bottom;
}
a.socio_twitter {background: transparent url('../images/twitter_icon.png') no-repeat;}
a.socio_facebook {background: transparent url('../images/facebook_icon.png') no-repeat;}
a.socio_linkedin {background: transparent url('../images/linkedin_icon.png') no-repeat;}

.tem_description
{
	margin-bottom: 60px;
	text-align: center;
}
/* page news
================================================== */
a.blog_post_title
{
	font: bold 24px/1.46em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #27303c;
}
a.blog_post_title:hover
{
	color: #be2844;
	cursor: pointer;
}
.blog_info
{
	margin-top: 40px;
	font: 12px/1.67em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	color: #aeb3bb;
}
.blog_info span
{
	font-weight: bold;
	color: #454545;
}
.column_440 img
{
	max-width: 100%;
	height: auto;
}


/* more_post
================================================== */
.next_post{ float:right; background:url(../images/next_post.png) no-repeat top right; }
.next_post:hover{ background:url(../images/next_post.png) no-repeat bottom right; }
.next_post a{ padding-right:25px; }

.prev_post{ float:left; background:url(../images/previous_post.png) no-repeat top left; }
.prev_post:hover{ background:url(../images/previous_post.png) no-repeat bottom left; }
.prev_post a{ padding-left:25px; }

.more_post
{
	font: 11px/2.27em "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	height: 25px;
	letter-spacing: 0.15em;
}
.more_post a
{
	color: #7f8691;
}
.prev_img
{
	float: left;
	width: 19px;
	height: 25px;
}
.next_img
{
	float: right;
	width: 19px;
	height: 25px;
}
.more_post_prev_img
{
	display: block;
	width: 19px;
	height: 25px;
}
.more_post_next_img
{
	display: block;
	width: 19px;
	height: 25px;
}
.more_post_prev_text
{
	float: left;
	width: 60px;
	padding-left: 10px;
}
.more_post_next_text
{
	float: right;
	width: 40px;
}

.prev_text a:hover,
.next_text a:hover
{
	 color: #be2844;
}
a.more_post_prev_img {background: transparent url('../images/previous_post.png') no-repeat;}
a.more_post_next_img {background: transparent url('../images/next_post.png') no-repeat right top;}
a.more_post_prev_img:hover
{
	background-position: left bottom;
}
a.more_post_next_img:hover
{
	background-position: right bottom;
}
	/* page single_post
	================================================== */
.post_info
{
	float: right;
	margin-top: 40px;
	font: 12px/1.67em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	color: #aeb3bb;
}
.post_info span
{
	font-weight: bold;
	color: #454545;
}
a.blog_post_title_single
{
	font: bold 30px/1.33em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #27303c;
}
a.blog_post_title_single:hover
{
	color: #be2844;
	cursor: pointer;
}
.column_680 img
{
	max-width: 100%;
	height: auto;
}
.post_item
{
	margin-top: 20px;
	margin-bottom: 45px;
	border-left: 3px solid #be2844;
}
.post_item h3
{
	padding-left: 11.3%;
	font: 20px/1.50em Georgia, "Times New Roman", Times, serif;
	letter-spacing: 0;
	font-style: italic;
	color: #be2844;
}
	/* comments
	================================================== */
.commentlist
{
	margin-top: 50px;
	overflow: hidden;
}

.comment
{
	font: 14px/1.43em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	list-style-type: none;
}
.comment_box
{
	padding-bottom: 45px;
	border-bottom: 1px solid #bcbfc3;
	position: relative;
	overflow: hidden;
	margin-bottom:40px;
}
.comment .avatar
{
	position: relative;
	float: left;
	height: 73px;
	width: 73px;
	margin-top: 5px;
	margin-right: 30px;
}

.comment_meta{ margin-bottom:10px; }

.comment .comment_meta,
.comment .comment_content
{
	width: 80%;
	display: table;
}
.comment_meta p, a
{
	display: inline;
}
.comment .comment_meta p.date
{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid;
	border-right: 1px solid;
}
.comment_content
{
	display: table;
}
.commentlist .children .children .comment_meta,
.commentlist .children .children .comment_content
{
	width: 75%;
}
.commentlist .children .children .children .comment .comment_meta,
.commentlist .children .children .children .comment .comment_content
{
	width: 75%;
}
.commentlist .children .children .children .comment .comment_box
{
	border-bottom: none;
}

.comment .children
{
	padding: 0 0 0 50px;
	margin: 30px 0 0 25px;
}
	/* post comment form
	================================================== */
.post_comment_form
{
	width: 100%;
}
.post_comment_form input[type=text]
{	
	width: 100%;
    margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-indent: 15px;
	font: 14px/1.35em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
  	background-color: #dadada;
	color: #838383;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */ 
	border: none;
	outline: none; 
}
.post_comment_form textarea
{	
    display: block;
	width: 100%;
	height: 170px;
    margin-bottom: 20px;
	padding-top: 10px;
	font: 14px/1.00em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0; 
	text-indent: 15px;
	background-color: #dadada;
	color: #838383;
	overflow: auto;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
    border: none;
	outline: none;
}
.post_comment_form .submit_btn
{
	display: inline-block;
    float: right;
	width: 85px;
	height: 35px;
	font: 12px/4.58em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.15em;
	text-decoration: none;
	background-color: #be2844;
	color: #fff;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	cursor: pointer;
}
.post_comment_form .submit_btn:hover
{
	background-color: #bdbdbd;
}
	/* sidebar
	================================================== */
.sidebar
{
	padding-left: 15px;
	padding-right: 15px;
}
.categories
{
	margin-bottom: 45px;
}
.column_230 h4
{
	font: 11px/2.46em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.2em;
}
a.link_categories, .text_widget ul li
{
	display: block;
	font: 12px/3.25em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	border-bottom: 1px solid #bcbfc3;
}
a.link_categories:hover
{
	color: #be2844;
}
.post_content
{
	border-bottom: 1px solid #bcbfc3;
	padding-bottom: 25px;
}
.post_content_single
{
	padding-bottom: 25px;
}
.post_content p
{
	margin-bottom: 15px;
	font: 14px/1.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
}

.widget_title{ text-transform:uppercase; }

.text_widget
{
	font: 12px/1.92em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
}
.post_content p
{
	margin-bottom: 15px;
	font: 14px/1.78em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
}
/* page skills
================================================== */
.progress_bar
{
    margin-bottom: 25px;
}
.progress_bar_title
{
	position: absolute;
	top: 10px;
	left: 15px;
	color: white;
	z-index: 1;
}
.progress_bar_field_holder
{
    height: 45px;
    position: relative;
	background-color: #e3dcd7;
}
.progress_bar_field_perecent
{
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
	background-color: #be2844;
}
.info_details
{
	margin-bottom: 185px;
}
/* page pricing
================================================== */
.pricing-table-small
{
	width: 29%;
	margin-top: 170px;
}
.pricing-table-small-content-holder
{
	padding: 40px 15px 35px;
	background-color: #ece8e0;
}
.pricing-table-small-title
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.15em;
	color: #484848;
}
ul.pricing-table-small-content
{
	margin-top: 25px;
}
ul.pricing-table-small-content li
{
	margin: 10px 0;	
}
.pricing-table-small-price
{
	padding: 25px 0;
	font-size: 46px;
	letter-spacing: 0;
	font-weight: bold;
	background-color: #252336;
	color: white;
}
.pricin-table-small-sign-up
{
	padding: 25px 0;	
	letter-spacing: 0.25em;
	font-weight: bold;
	background-color: #be2844;
}
.pricin-table-small-sign-up:hover
{
	background-color: #b9b9b9;
}
a.sign-up-link
{
	text-decoration: none;
	color: white;
}
.pricing-table-big
{
	width: 42%;
	margin-top: 105px;
}
.pricing-table-big-content-holder
{
	padding: 40px 15px 28px 15px;
	background-color: #dad5cc;
}
.pricing-table-big-title
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.15em;
	color: #484848;
}
ul.pricing-table-big-content
{
	margin-top: 40px;
	margin-bottom: 35px;
	color: white;
}
ul.pricing-table-big-content li
{
	margin: 10px 0;
	color: #4d4d4d;	
}
.pricing-table-big-price
{
	padding: 25px 0;
	font-size: 46px;
	letter-spacing: 0;	
	font-weight: bold;
	background-color: #252336;
	color: white;
}
.pricin-table-big-sign-up
{
	padding: 25px 0;
	font-weight: bold;
	letter-spacing: 0.25em;
	background-color: #be2844;
}
.pricin-table-big-sign-up:hover
{
	background-color: #b9b9b9;	
}
/* page contact
================================================== */
	/* accordion
	================================================== */
.accordion
{
	width: 100%;
	background: #fff;
	margin: 0 auto;
}
.accordion .one
{
	margin-top: 25px;
	height: 105px;
	display: block;
}
.contact_title
{
	position: relative;
	float: left;
	width: 65%;
	margin-right: 5%;
}
.contact_title_icon
{
	position: relative;
	float: left;
	width: 30%;
}
.title-icon
{
	float: right;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-top: 25px;
	margin-right: 0px;
	vertical-align: middle;
	cursor: pointer;
	background: transparent url(../images/minus_contact_icon.png) no-repeat scroll 0 0 ;
}
.title-icon.hover_effect
{
	background-position: left bottom;
}
.accordion h3
{
	margin-top: 17px;
	font: bold 24px/1.46em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #27303c;
	cursor: pointer;
}
.accordion p
{
	font: 14px/1.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.accordion .hide .contct_info
{
	font-weight: bold;
	color: #27303c;
}
.socio_contact 
{
	margin-bottom: 20px;
	height: 33px;
}
.socio_contact ul 
{
	width: 100%;
	line-height: normal;
	margin-left: auto;
	margin-right: auto; 
}
.socio_contact ul li 
{
	float: left;
	margin-right: 11px;
}
.socio_contact ul li a
{	
    display: block;
    height: 33px;
    width: 33px;
}
.socio_contact ul li a:active
{
    background-position: left bottom;
}
.socio_contact ul li a:hover 
{
	 background-position: left bottom;
}
a.socio_contact_twitter {background: transparent url('../images/twitter_icon.png') no-repeat;}
a.socio_contact_facebook {background: transparent url('../images/facebook_icon.png') no-repeat;}
a.socio_contact_dribbble {background: transparent url('../images/dribbble_icon.png') no-repeat;}
a.socio_contact_behance {background: transparent url('../images/behance_icon.png') no-repeat;}
a.socio_contact_flickr {background: transparent url('../images/flickr_icon.png') no-repeat;}
	/* contact
	================================================== */
.form_wrapper
{
	margin-right: 24.6%;
}
.contact-form label
{
    display: block;
	margin-left: 5px;
	font: 14px/2.00em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #8b999d;		
}
.contact-form input[type=text]
{	
	display: block;
	width: 100%;
    margin-bottom: 3px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-indent: 15px;
	font: 14px/1.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
  	background-color: #e6e6e6;
	color: #606060;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none; 
}
.contact-form textarea
{	
    display: block;
	width: 100%;
    height: 150px;
    margin-bottom: 11px;
	padding-top: 20px;
	font: 14px/1.00em "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-indent: 15px;
	background-color: #e6e6e6;
	color: #606060;
	overflow: auto;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
    border: none;
	outline: none;
}
#submit-btn
{
	display: inline-block;
    float: right;
	width: 100px;
	height: 55px;
	margin-top: 20px;
	font: 14px/3.93em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	background-color: #be2844;
	color: #fff;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	cursor: pointer;
}
#submit-btn:hover
{
	background-color: #bcbfc3;
}
#mail-message 
{
	width: 200px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	color: #f05c45;
}
/* tweets
================================================== */
ul.tweet_list
{
	width:100%;
}
ul.tweet_list li
{
	padding-left: 25px;
	display: block;
	background: transparent url(../images/tweets-image.png) scroll 0 6px no-repeat;
	font: 12px/1.83em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tweet_time
{
	display: block;
	font: 10px/2.2em "Helvetica Oblique", Arial, sans-serif;
	letter-spacing: 0;
	font-style: italic;
}
/* photostream
================================================== */
.flickr_content
{
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: -10px;
}
.flickr_badge_image
{
	float: left;
	width: auto;
	margin: 0 0 10px 10px;
}
.flickr_badge_image a img
{
	height: 50px;
	width: 50px;
}
.flickr_badge_image a 
{
	height: 50px;
	width: 50px;
	border: 1px solid #e1e1e1;
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari, Chrome */ 
	border-radius: 2px; /* CSS3 */
	padding: 4px;
	display: block;
}
.flickr_badge_image a:hover 
{
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

/* Pagination
================================================= */
ul.pagination{ font-size:20px; padding-top:40px; }
ul.pagination li{ float:left; margin-right:5px; }
ul.pagination li a{ background:#be2844; color:#FFFFFF; padding:5px; padding-left:8px; padding-right:8px; }
ul.pagination li a{
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */ 
	border-radius: 3px; /* CSS3 */
	}
ul.pagination li.current{ padding-left:8px; padding-right:8px; text-decoration:underline }

/* buttons
================================================== */
.button
{
	position: relative;
	display: inline-block;
	height: 80px;
	text-align: center;
	background-color: #be2844;
	font: 20px/4em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	text-decoration: none;
	color: #fff;
	vertical-align:middle;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */ 
	border-radius: 5px; /* CSS3 */
	border: none;
	outline: none;
	cursor: pointer;
}
.button:hover 
{
	text-decoration: none;
}
.button.do_not_click
{
	width: 280px;
	background-color: #be2844;
	color: #fff;
}
.button.do_not_click:hover 
{
	background-color: #b9b9b9;
}
.button.get_another
{
	float: left;
	width: 29.75%;
	margin-top: 10px;
	background-color: #be2844;
	color: #fff;
}
.button.get_another:hover
{
	background-color: #b9b9b9;
}
.button.read
{
	width: 85px;
	height: 40px;
	float: right;
	margin-top: 25px;
	font: 14px/2.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.01em;
	color: #fff;
	background-color: #bcbfc3;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */ 
	border-radius: 3px; /* CSS3 */
}
.button.read:hover 
{
	background-color: #b9b9b9;
}
.button.read_more
{
	width: 90px;
	height: 40px;
	font: 14px/2.86em "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -0.03em;
	color: #fff;
	background-color: #be2844;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */ 
	border-radius: 3px; /* CSS3 */
}
.button.read_more:hover 
{
	background-color: #b9b9b9;
}
.button.get_in_touch
{
	width: 220px;
	height: 80px;
	background-color: #be2844;
	color: #fff;
}
.button.get_in_touch:hover 
{
	background-color: #b9b9b9;
}	

/* footer
================================================== */
.footer
{
	width: 100%;
	background-color: #252336;
	height: 305px;
}
.footer_logo
{
	position: relative;
	width: 118px;
	height: 118px;	
	margin-left: auto;
	margin-right: auto;
}
.footer_logo img {
	display: block;
	position: absolute;
	top: -59px;
}
.footer_contact 
{
	padding-top: 25px;
	margin-bottom: 20px;
	height: 33px;
}
.footer_contact ul 
{
	width: 209px;
	line-height: normal;
	margin-left: auto;
	margin-right: auto; 
}
.footer_contact ul li 
{
	float: left;
	margin-right: 11px;
}
.footer_contact ul li a
{	
    display: block;
    height: 33px;
    width: 33px;
}
.footer_contact ul li a:active
{
    background-position: left bottom;
}
.footer_contact ul li a:hover 
{
	 background-position: left bottom;
}
a.footer_contact_twitter {background: transparent url('../images/footer_socio_icon/twitter_icon.png') no-repeat;}
a.footer_contact_facebook {background: transparent url('../images/footer_socio_icon/facebook_icon.png') no-repeat;}
a.footer_contact_dribbble {background: transparent url('../images/footer_socio_icon/dribbble_icon.png') no-repeat;}
a.footer_contact_behance {background: transparent url('../images/footer_socio_icon/behance_icon.png') no-repeat;}
a.footer_contact_flickr {background: transparent url('../images/footer_socio_icon/flickr_icon.png') no-repeat;}
.copyright
{
	text-align: center;
}
.copyright p
{
	font: 14px/2.0em 'Open Sans', sans-serif;
	letter-spacing: -0.03em;
	color: #787780;
}
.external
{
	float: left;
	margin-top: 10px;
}
